.Div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: calc(100vh - 72px);
  width: 100%;
  overflow-y: auto;
  padding: 50px 0;
}

.Paper {
  min-height: 279mm;
  max-height: 279mm;
  width: 216mm;
  display: flex;
  align-items: flex-start;
}
